.container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  border-radius: 6px;
  background-color: #f3f4f6;
  font-weight: 500;
  font-size: 14px;

  div {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 8px;
    align-items: center;
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid transparent;
    cursor: pointer;

    &.active {
      border-color: #e2e3e5;
      background-color: #fff;

      svg {
        stroke: #5d5fef;
      }
    }
  }
}
