.container {
  // height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 245px);
  grid-template-rows: auto 1fr;
  justify-content: center;
  gap: 30px 56px;
  margin-top: 50px;

  > :first-child {
    grid-column: 2 / -1;
  }
}
